<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.prography.appdev3.mapper.dataMapper">

	<!-- member table===================================================================================================== -->


	<select id="userCheck" parameterType="String" resultType="com.prography.appdev3.vo.LoginVO">
		select * from member where id = #{id} and pw = #{pw};
	</select><!-- 로그인 -->

	<select id="idCheck" resultType="com.prography.appdev3.vo.IdCheckVO">
		select id from member where id = #{id};
	</select><!-- id 중복확인 -->


	<insert id="signUpCheck" parameterType="com.prography.appdev3.vo.SignUpVO">
		INSERT INTO member VALUES (#{memCode},#{id},#{pw},#{name}, #{nickname},#{tmCode}, #{birth}, #{recBalloon}, #{balloon}, #{icon}, #{sesAbsent}, #{stuAbsent}, #{totPenalty});
	</insert><!-- 회원가입 -->

	<select id="getUserInfo" resultType="com.prography.appdev3.vo.UserInfoVO">
		select * from member;
	</select>
	<select id="getUserInfoByMemCode" resultType="com.prography.appdev3.vo.UserInfoVO">
		select * from member where memCode = #{memCode};
	</select>
	<select id="getUserInfoByTeam" resultType="com.prography.appdev3.vo.UserInfoVO">
		select * from member where tmCode = #{tmCode};
	</select>
	<select id="getUserInfoByBirth" resultType="com.prography.appdev3.vo.UserInfoVO">
		select * from member where birth like concat('%-',#{month},'-%');
	</select>	
	
	<!-- getStuAbsent/selectAbsentee-->
	
	<select id="getPenaltyRanking" resultType= "java.lang.String">
		select name from member order by totPenalty DESC;
	</select><!-- 지각비 랭킹 -->




	<!-- team table===================================================================================================== -->

	<select id="getTeamsInfo" resultType="com.prography.appdev3.vo.TeamInfoVO">
		select * from team;
	</select>
	
	
	
	
	<!-- studyAttendance table===================================================================================================== -->
	
	<select id="getStudyAttendance" resultType="com.prography.appdev3.vo.StudyAttendanceVO">
		select * from studyAttendance;
	</select>
	
	<insert id="postStudyAttendance" parameterType="com.prography.appdev3.vo.PostStuMemoVO">
		insert into studyAttendance VALUES (#{stuCode},#{tmCode},#{picture},#{absentee}, #{memo}, #{uploadTime});
	</insert>

	<!-- *****스터디 출석 정보 업데이트 -->
	<update id="updateStuAbsent" parameterType="com.prography.appdev3.vo.UserInfoVO">
		update member set
		stuAbsent = stuAbsent+1
		where name = #{name}
	</update>





	<!-- study table===================================================================================================== -->

	<select id="getStudy" resultType="com.prography.appdev3.vo.StudyManageVO">
		select * from study;
	</select>


	




	<!-- sessionAttendance table===================================================================================================== -->

	<!-- 주차에 따른 개인별 세션출결DB -->
	<select id="getSessionAttendance" resultType="com.prography.appdev3.vo.SessionAttendanceVO">
		select * from sessionAttendance;
	</select>

	<insert id="postSessionAttendance" parameterType="com.prography.appdev3.vo.SessionAttendanceVO">
		INSERT INTO sessionAttendance VALUES (#{sesCode},#{memCode},#{sesAttendance},#{late}, #{penalty});
	</insert>
	
	<select id="getPenaltyByMemCode" resultType= "com.prography.appdev3.vo.SessionAttendanceVO">
		select * from sessionAttendance where memCode = #{memCode};
	</select><!-- 주차 지각비 출력 -->
	
	<update id="updateSesAbsent" parameterType="com.prography.appdev3.vo.UserInfoVO">
		update member set
		sesAbsent = sesAbsent+1
		where memCode = #{memCode}
	</update><!-- 세션 출석 정보 업데이트 -->





	<!-- session table===================================================================================================== -->

	<!-- 주차별 세션DB -->
	<select id="getSession" resultType="com.prography.appdev3.vo.SessionManageVO">
		select * from session;
	</select>

	<insert id="postSession" parameterType="com.prography.appdev3.vo.SessionManageVO">
		INSERT INTO session VALUES (#{sesCode},#{sesDate},#{sesInfo},#{sesContent});
	</insert>




	<!-- free table===================================================================================================== -->

	<!-- 자유게시판DB 출력 및 검색 -->
	<select id="getFreeBoard" resultType="com.prography.appdev3.vo.FreeBoardVO">
		select * from free;
	</select>
	
	<select id="getFreeBoardByFreNum" resultType="com.prography.appdev3.vo.FreeBoardVO">
		select * from free where freNum = #{freNum};
	</select>
	
	<select id="getFreeBoardByKeyword" resultType="com.prography.appdev3.vo.FreeBoardVO">
		select * from free where freTitle LIKE  concat('%',#{keyword},'%') or freContent LIKE  concat('%',#{keyword},'%');
	</select>
	
	<select id="getFreeBoardByMemCode" resultType="com.prography.appdev3.vo.FreeBoardVO">
		select * from free where memCode = #{memCode};
	</select>


	<!-- 자유게시판DB입력 -->
	<insert id="postFreeBoard" parameterType="com.prography.appdev3.vo.PostFreeBoardVO">
		INSERT INTO free VALUES (#{freNum},#{freTitle},#{freContent},#{freDate},#{memCode});
	</insert>

	<!-- 자유게시판DB삭제 -->
	<delete id="deleteFreeBoard">
		DELETE FROM free WHERE freNum=#{freNum};
	</delete>


</mapper>